<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Virtual_Crosshair.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Virtual_Crosshair.Properties.Settings>
            <setting name="Image" serializeAs="String">
              <!--
                  Possible Choices
                  
                  RoundedRedCenter.png
                  RoundLines.png
                  SquaredSpaces.png
                  TinyRed.png
              -->
                <value>TinyRed.png</value>
            </setting>
            <setting name="Monitor" serializeAs="String">
              <!--
                  Possible Choices
                  
                  Primary
                  Secondary
                  1
                  2
                  3
                 
              -->
                <value>2</value>
            </setting>
        </Virtual_Crosshair.Properties.Settings>
    </userSettings>
</configuration>